{% extends 'base.html' %}
{% block content %}
    <h1>Изменить пароль</h1>
    <div class="form-inside container">
        <form action="" method="post">
            {% csrf_token %}
            <p><label>Текущий пароль</label></p>
            <input class="form-control" name="password1" type="password" placeholder="Пароль" required>
            <p><label>Новый пароль</label></p>
            <input class="form-control"  name="password2" type="password" placeholder="Пароль" required>
            <p><label>Новый пароль (ещё раз)</label></p>
            <input class="form-control"  name="password3" type="password" placeholder="Пароль" required>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
{% endblock %}