{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-white tac">
				<h1><span class="logo-red">Target</span>Client</h1>
                <p>Текущая версия сервиса - pre-alpha-pre-beta-0.0.1</p>
                <p>По некоторым причинам мы не даем возможность свободной регистрации юзерам.</p>
                <p>Но вы можете получить аккаунт, запросив его у администратора - <a href="mailto:gudo.m@yandex.ru">gudo.m@yandex.ru</a></p>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block js %}

{% endblock %}
